{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}


{% block content %}
<div class="split left">
	<h2 align="center">Enter Text or Use Mic</h2>
	<br>
		<form action="" method="post" align="left">
		{% csrf_token %}
					<input type="text" name="sen" class="mytext" id="speechToText" placeholder="">
					<button type="button" name="button" class="mic" onclick="record()">
						<img src="https://res.cloudinary.com/dyaqkgsc8/image/upload/v1740744076/speech_to_sign_assets/pi6obkxv89p5yo4oknnu.png" height="32px" width="38px" />
					</button>&nbsp&nbsp&nbsp&nbsp
		  			<input type="submit" name="submit" class="submit">

		</form>
		<br>
		<table cellspacing="20px">
			<tr>
				<td class="td">The text that you entered is:</td>
				<td class="td">{{ text }}</td>
			</tr>
			<tr>
				<td class="td">Key words in sentence:</td>
				<td class="td">
								<ul class="td" id="list">
				{% for word in words %}
						<li data-video="{{ video_urls|get_item:word }}" style="margin-right: 8px">
						{{ word }}
					</li>
				{% endfor %}
			</ul>
			
			</td>
		</tr>
	</table></div>
  <div class="split right">
  <h2 align="center">Sign Language Animation</h2>

	<div style="text-align:center">	&nbsp&nbsp
  	<button class="submit" onclick="playPause()">Play/Pause</button>
  	<!--  LETS USE ONLY PLAY PAUSE BUTTON WITH 720 *420 ,IT FITS THE SCREEN ASHISH

  	<button onclick="makeBig()">Big</button>
  	<button onclick="makeSmall()">Small</button>
  	<button onclick="makeNormal()">Normal</button>-->

	  <video id="videoPlayer" width="600" height="350" preload="auto" autoplay>
		<source id="videoSource" src="" type="video/mp4">
		Your browser does not support HTML5 video.
	</video>
  	</div></div>


<script>
	//webkitSpeechRecognition api for speech to text conversion
	function record(){
		var recognition = new webkitSpeechRecognition();
		recognition.lang='en-IN';

		recognition.onresult = function(event){
			console.log(event)
			document.getElementById('speechToText').value = event.results[0][0].transcript;
		}
		recognition.start();
	 }
	 function play() {
    var videos = document.querySelectorAll("#list li");
    var videoPlayer = document.getElementById("videoPlayer");
    var videoSource = document.getElementById("videoSource");
    var i = 0;

    function playVideo(index) {
        if (index >= videos.length) return;  // Stop when all words/letters are done

        var videoUrl = videos[index].dataset.video.trim(); // Get URL

        if (videoUrl) {
            videoSource.src = videoUrl;
            videoPlayer.load();
            videoPlayer.play();

            videos[index].style.color = "#09edc7";
            videos[index].style.fontSize = "xx-large";

            videoPlayer.onended = function () {
                videos[index].style.color = "#feda6a";
                videos[index].style.fontSize = "20px";
                playVideo(index + 1);  // Play next video
            };
        } else {
            playVideo(index + 1);  // Skip missing videos
        }
    }

    playVideo(0);
}


	/* LETS USE ONLY PLAY PAUSE BUTTON WITH 720 *420 ,IT FITS THE SCREEN
	function makeBig() {
	    document.getElementById("videoPlayer").width = 560;
		document.getElementById("videoPlayer").height = 360;
	}

	function makeSmall() {
	    document.getElementById("videoPlayer").width = 320;
		document.getElementById("videoPlayer").height = 180;
	}

	function makeNormal() {
	    document.getElementById("videoPlayer").width = 420;
		document.getElementById("videoPlayer").height =280;
	}*/
	function playPause(){
    var videoPlayer = document.getElementById("videoPlayer");
    if (!videoPlayer.src || videoPlayer.src == window.location.href) { 
        play();  // Start playing if no video is loaded
    } else if (videoPlayer.paused){
        videoPlayer.play();
    } else {
        videoPlayer.pause();
    }
}


	</script>

{% endblock %}
